@media (max-width: 992px){
    header {
        width: 100%;
    }
    .navbar {
        gap: 10px;
    }
    .navbar-list {
        position: absolute;
        top: 80px;
        left: 5%;
        right: 5%;
        width: 90%;
        flex-direction: column;
        background:black;
        border: 2px solid #ffe259;
        box-shadow: 0 3px 3px 0 rgba(0,0,0,.2);
        border-top: 0px;
        border-radius: 0px 0px 15px 15px;
        align-items: flex-start;
        padding: 45px 30px;
        gap: 25px;
        z-index: 2;
        display: none;
    }
    .navbar-list a {
        font-size: 18px;
    }
    .navbar i {
        display: flex;
        cursor: pointer;
        order: 2;
        color: white;

    }

    #toggle-menu:checked + .navbar-list {
        display: flex;


    }

    #hero {
        width: 100%;
        margin-top: 75px;
        /* max-width: 500px; */
         

    }


    .hero-info {
        width: 100%;
        
        gap: 20px;

    }

    .hero-info h1 {
        font-size: 50px;
        width: 100%;
        text-align: center;
        
        min-width: unset;
    }
    .hero-info p {
        font-size: 20px;
        width: 50%;
        max-width: 600px;

    }
    .hero-info-a {
        width: 50%;
        justify-content: center;
        align-items: center;
    }
    .hero-info-a a {
        text-align: center;
    }


    #about-us {
        width: 60%;
        text-align: center;


    }
    #about-us h3 {
        text-align: center;
        font-size: 30px;
        font-weight: 500;
    }
    #about-us p {
        
        font-size: 15px;
        text-align: center;
        color:antiquewhite;
    }
    #sv h2 {
        width: 70%;
        font-size: 30px;
        text-align: center;

    }
    .sv-servicios {
       width: 70%;
    }
    
    .sv-servicios {
        animation: none;
    }
    .sv-servicios-img {
        animation: none;
    }
    .sv-servicios-3t {
        animation: none;
    }
    
    .sv-servicios-1 span {
        width: 50%;

    }
    .sv-servicios-img {
        width: 50%;

    }
    
    .sv-servicios-turnos {
        flex-wrap: wrap;
    }
    .sv-servicios-turnos h3 {
        font-size: 30px;
        font-weight: 300;
        text-align: center;

    }
    .sv-container {
        flex-wrap: wrap;
        gap: 20px;
    }
    .sv-servicios-day {
        flex-wrap: wrap;

    }
    .sv-servicios-night {
        flex-wrap: wrap;
    }
    #testimonios {
        width: 80%;
        max-width: unset;
        justify-content: center;
        align-items: center;
    }
    #testimonios h2 {
        font-weight: 500;
        font-size: 30px;
        text-align: center;
    }
    .testimonios-card-container {
        width: 100%;
        
        justify-content: center;
        align-items: center;

    }
    .testimonios-card {
        width: 50%;
        max-width: 500px;
    }
    
    .testimonios-card img {
        width: 60%;
    }
    #contacto {
        width: 100%;
        max-width: 500px;

    }
    #contacto h4 {
        font-size: 30px;
    }
    .contacto-container-1 {
        width: 100%;
        max-width: 500px;

    }
    .contacto-container {
        width: 100%;


    }
    .contacto-container label {
        font-size: 15px;
    }

    .contacto-container input {
        width: 30%;
    }


}

@media (max-width: 576px) {
    header {
        width: 100%;
        z-index: 1;
        /* position: fixed; */
    }
    .logo {
        height: 90%;
    }
    #hero {
        width: 100%;
        padding: 20px 20px;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

    }
    .hero-info {
        width: 100%;
        gap: 30px;
    }
    .hero-info h1  {
        width: 100%;
        font-size: 30px;
        text-align: center;
        min-width: unset;
        max-width: unset;
        animation: none;

    }

    .hero-info p {
        text-align: center;
        width: 60%;
        max-width: unset;
    }
    .hero-info-a {
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        align-items: center;
        gap: 20px;
        /* text-align: center; */
    }
    .hero-info-a a {
        width: 100%;
        text-align: center;
    }
    #about-us {
        width: 80%;
    }
    #sv {
        width: 100%;
        gap: 10px;
        max-width: unset;
        padding: 10px 10px 10px 10px;
    }
    #sv h2 {
        text-align: center;
    }
    .sv-servicios {
        width: 90%;
    }
    .sv-servicios-1 {
        width: 90%;
        gap: 10px;
    }
    .sv-servicios-1 h4 {
        font-size: 17px;

    }
    .sv-servicios-1 p {
        font-size: 12 px;
    }
    .sv-servicios-1 span {
        width: 50%;
        gap: 10px;
        padding: 2px 2px 2px 2px;
    }
    .sv-servicios-img {
        width: 70%;
        height: 60%;
    }
    .sv-servicios-2-im {
        width: 70%;
        height: 70%;
    }
    .sv-container {
        width: 90%;
        height: 90%;
    }
    .sv-servicios-turnos {
        width: 100%;
    }
    .sv-servicios-day {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;


    }
    .sv-servicios-day h4 {
        width: 70%;
        text-align: center;
    }
    .sv-servicios-day p {
        width: 100%;
        text-align: center;
    }
    .sv-servicios-night {
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

    }
    .sv-servicios-night h4 {
        text-align: center;

    }
    .sv-servicios-night p {
        width: 100%;
        text-align: center;

    }
    #testimonios {
        width: 100%;
        /* justify-content: center;
        align-items: center; */
        padding: 10px 5px 5px 0px;

    }
    #testimonios h2 {
        text-align: center;

    }
    .testimonios-card-container {
        width: 90%;
        justify-content: center;
        align-items: center;


    }
    .testimonios-card {
        width: 100%;
        height: 100%;
        max-width: unset;

    }
    .testimonios-card img {
        width: 40%;
    }
    .testimonios-card h4 {
        font-size: 15px;
    }
    .testimonios-card p {
        font-size: 13px;
    }
    #contacto {
        width: 100%;
        max-width: unset;
    }
    .contacto-container-1 {
        width: 90%;
        flex-direction: column;
        max-width: unset;
    }
    .contacto-container {
        width: 100%;
    }
    .contacto-container input {
        width: 50%;
    }
    .contacto-container textarea {
        width: 100%;


    }
    iframe {
        width: 60%;
        height: 60%;
    }
    .footer-links {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footer-links a {
        width: 100%;
        text-align: center;



    }


}

@media (max-width:320px) {

    header {
        width: 100%;
        z-index: 1;
    }
    .navbar {
        gap: 10px;
    }
    .logo {
        height: 60%;
    }
    #hero {
        width: 100%;
        padding: 20px 20px;
        margin-top: 70px;
        flex-wrap: wrap;
        align-items: center;

    }
    .hero-info {
        width: 100%;
    }
    .hero-info h1 {
        width: 80%;
        font-size: 30px;
        text-align: center;
        min-width: unset;
    }
    .hero-info p {
        text-align: center;
        width: 100%;
        font-size: 15px;
    }
    .hero-info-a {
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        gap: 10px;
    }
    .hero-info-a a {
        font-size: 15px;
        text-align: center;
        
    }
    #about-us {
        width: 80%;
    }
    #sv {
        
        width: 100%;
        gap: 10px;
        
    
    }
    #sv h2 {
        
        text-align: center;
        /* padding: unset; */
        font-size: 30px;

    }
    .sv-servicios {
        flex-wrap: wrap;
        justify-content: center;

    }
    .sv-servicios-1 {
        width: 100%;

    }
    .sv-servicios-1 h4 {
        text-align: center;
        font-size: 15px;
        font-weight: 400;
    }
    .sv-servicios-1 p {
        text-align: center;
        font-weight: 300;
        font-size: 13px;
    }
    .sv-servicios-1 span {
        width: 70%;
        gap: 5px;
        padding: 2px 4px 4px 2px;
    }
    .sv-servicios-img {
        width: 100%;
    }
    .sv-servicios-2-im {
        width: 100%;
    }
    .sv-servicios-3t {
        width: 90%;
    }
    .sv-servicios-turnos {
        justify-content: center;
        align-items: center;

    }
    .sv-servicios h3 {
        text-align: center;
        padding: 40px;
        padding-bottom: 10px;
        font-size: 30px;

    }
    .sv-container {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 20px;

    }
    .sv-servicios-day {
        justify-content: center;
        align-items: center;
    }
    .sv-servicios-day h4 {
        text-align: center;
    }
    .sv-servicios-day p {
        font-size: 14px;
        text-align: center;
    }
    .sv-servicios-night {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

    }
    .sv-servicios-night h4 {
        text-align: center;

    }
    .sv-servicios-night p {
        font-size: 14px;
    }
    .morning {
        width: 50%;
        height: auto;
    }
    .night {
        width: 50%;
        height: auto;
    }
    .serv {
        gap: 10;
        padding: 10px 20px;


    }
    .serv a {
        font-size: 25px;
    }
    #testimonios {
        width: 100%;
        gap: 15px;
    }
    #testimonios h2 {
        font-size: 30px;
        text-align: center;
    }
    .testimonios-card-container {
        flex-direction: column;
        align-items: center;
    }
    .testimonios-card {
        width: 90%;
    }
    .testimonios-card img {
        width: 70%;
    }
    .testimonios-card h4 {
        font-size: 15px;
    }
    .testimonios-card p {
        font-size: 10px;
        text-align: center;
    }
    #contacto {
        width: 100%;

    }
    #contacto h4 {
        font-size: 30px;
        text-align: center;
    }
    .contacto-container-1 {
        width: 100%;

    }
    .contacto-container {
        flex-direction: column;
        gap: 10px;
        width: 100%;
    }
    .contacto-container label {
        font-size: 15px;
        width: 90px;
    }
    .contacto-container input {
        width: 100%;

    }
    .contacto-container textarea {
        width: 100%;
    }
    iframe {
        width: 100%;
        box-shadow: 0 3px 3px 0 rgba(0,0,0,.2);
    }
    .footer-links {
        width: 100%;
        gap: 40px;
    }
    .footer-link a {
        align-items: center;
        font-size: 10px;
    }


}
