@media (max-width:540px){
    .form-login {
        width: 90%;
        height: 90%;
        flex-wrap: wrap;
    }
    .form-login h5 {
        text-align: center;
        font-size: 15px;
    }
    .control {
        width: 90%;
    }
    .button {
        width: 90%;
    }

}